@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
html, body{
    width: 100vw;
    height: 100vh;
}
#painel{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 10% 80% 10%;
    background-color: aquamarine;
    grid: column;
    grid-template-areas: 
    'header header header'
    "burger burger burger"
    "nav nav nav"
    'nada main nada2'
    'footer footer footer'
    ;
}
.item{
    text-align: center;
}
header{
    background-color: black;
    grid-area: header;
    color: white;
    text-align: center;
    font-size: 1.5em;
    height: 10vw;
    overflow-y: hidden;
}
a{
    color: white;
    text-decoration: none;
    background-color: rgb(46, 44, 44);
}
a:hover{
    background-color: gray;
    cursor: pointer;
}
main{
    grid-area: main;
    background-color: aqua;
    height: 84vh;
    overflow-y: hidden;
}
article{
    background-color: orange;
    margin: 10px;
    height: 81vh;
}
footer{
    background-color: black;
    grid-area: footer;
    height: 6vh;
    color: white;
    overflow-y: hidden;
}
#burger{
    grid-area: burger;
    height: 8vh;
    width: 100vw;
    background-color: rgb(78, 76, 76);
    text-align: center;
    color: black;
    font-size: 2em;
}
#burger:hover{
    background-color: rgba(128, 128, 128, 0.945);
    cursor: pointer;
}
#itens{
    display: none;
    grid-area: nav;
    height: 10vh;
    width: 100vw;
    background-color: gray;
    text-align: center;
    color: black;
    padding: 12px;
    font-size: 1.5em;
}
@keyframes meme{
    0%{
        background-image: url(imagens/WhatsApp\ Image\ 2023-08-19\ at\ 11.30.15.jpeg);
    }
    50%{
        background-image: url(imagens/WhatsApp\ Image\ 2023-08-19\ at\ 11.30.15\ \(1\).jpeg);
    }
    75%{
        background-image: url(imagens/WhatsApp\ Image\ 2023-08-19\ at\ 11.30.16.jpeg);
    }
    100%{
        background-image: url(imagens/WhatsApp\ Image\ 2023-08-19\ at\ 11.30.15.jpeg);
    }
}
#meme{
    margin-top: 5%;
    margin-left: 37%;
    background-color: aquamarine;
    width: 20vw;
    height: 20vh;
    animation: meme 3s;
    animation-iteration-count: infinite;
    background-size: cover;
}
@media screen and (min-width: 900px),(max-width:1100){
    #meme{
        margin-left: 29%;
        height: 50vh;
        width: 50vh;
    }
}
@media screen and (min-width: 1100px){
    #meme{
        margin-left: 35%;
    }
}
@media screen and (min-height: 1px){
    footer{
        padding-bottom: px;
        height: 12vh;
    }
}
@media  screen and (min-width: 1px) {
    header{
        padding-bottom: 100px;
        height: 12vh;
    }
}
@media screen and (min-width: 425px) {
    #burger{
        display: none;
    }
    #itens{
        display: none;
    }
}